* {
  box-sizing: border-box;
}

html {
  background-color: #fff5f5;
  color: #232625;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.38rem;
}
body {
  margin: 0;
}
*::selection {
  background-color: lemonchiffon;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  html {
    font-size: 18px;
  }
}

h2 {
  color: #4c594f;
  font-weight: 700;
}

a {
  color: #f2f2e9;
  text-decoration: none;
  font-size: 1.125rem;
}

a:link {
  color: #f2f2e9;
}

a:hover {
  color: #232625;
}

h3 {
  color: #4c594f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9375rem;
  letter-spacing: 0.015625rem;
  margin-top: 0rem;
  display: inline-block;
}

.header {
  background-color: #4c594f;
  padding: 6.25rem 1rem;
  text-align: center;
  position: relative;
}

.div-heading-group {
  font-size: 3rem;
}

.h1-heading {
  font-size: 2.4em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5625rem;
  letter-spacing: 0, 1.875rem;
}

.prof-subheading {
  font-family: "Shadows Into Light", kursiv;
  padding-bottom: 2.5rem;
  font-size: 0.5em;
}

.prof-subheading::after {
  content: "🦄";
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list {
  line-height: 150%;
  display: inline-block;
  margin-right: 2.8125rem;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}

.hire-me {
  background-color: #bfbfb8;
  color: #4c594f;
  font-family: "Shadows Into Light", kursiv;
  font-size: 1.25rem;
  position: absolute;
  right: 1.875rem;
  top: 1.875rem;
  padding: 0.9375rem;
  border-radius: 0.34375rem;
}

.hire-me::before {
  content: "📌";
}

.main-menu {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
}

.heading-article {
  position: relative;
  left: -1.125rem;
}

.character-hand-letter {
  font-family: "Shadows Into Light", kursiv;
  font-size: 1.25rem;
}

.line-h2 {
  border-top: 0.0625rem solid #a4a69c;
  padding-top: 2.1875rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.timetable-cv {
  font-size: 0.75rem;
  font-weight: bolder;
  color: #a4a69c;
  margin-bottom: 0.4375rem;
  display: inline-block;
  margin-right: 1.875rem;
}

@media screen and (min-width: 768px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .navigation {
    display: none;
  }
  .hire-me {
    display: none;
  }
}
