* {
  box-sizing: border-box;
}

html {
  background-color: #fff5f5;
  color: #232625;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
body {
  margin: 0;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 0, 30pt;
}

h2 {
  color: #4c594f;
  font-weight: 700;
}

a {
  color: #f2f2e9;
  text-decoration: none;
  font-size: 18px;
}

a:link {
  color: #f2f2e9;
}

a:hover {
  color: #232625;
}

*::selection {
  background-color: lemonchiffon;
}

h3 {
  color: #4c594f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0, 9pt;
  margin-top: 0px;
  display: inline-block;
}

.header {
  background-color: #4c594f;
  padding: 100px 16px;
  text-align: center;
}

.main-menu {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.nav-list {
  display: inline-block;
  margin-right: 45px;
}

.line-h2 {
  border-top: 1px solid #a4a69c;
  padding-top: 35px;
}

.character-hand-letter {
  font-family: "Shadows Into Light", kursiv;
  font-size: 20px;
}

.timetable-cv {
  font-size: 12px;
  font-weight: bolder;
  color: #a4a69c;
  margin-bottom: 7px;
  display: inline-block;
  margin-right: 30px;
}

.prof-subheading {
  font-family: "Shadows Into Light", kursiv;
  padding-bottom: 40px;
  font-size: 20px;
}

.prof-subheading::after {
  content: "🦄";
}
