* {
  box-sizing: border-box;
}

html {
  background-color: #fff5f5;
  color: #232625;
  font-family: "Lato", serifenlos;
  font-size: 16px;
}
body {
  margin: 0;
}

h1 {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 25px;
}

a {
  color: #f2f2e9;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0, 30pt;
}

h3 {
  color: #4c594f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0, 9pt;
}

.header {
  background-color: #4c594f;
  padding: 48px 16px;
  text-align: center;
}

.main-menu {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.nav-list {
  display: inline-block;
  margin-right: 18px;
}

.character-hand-letter {
  font-family: "Shadows Into Light", kursiv;
  font-size: 20px;
}

.timetable-cv {
  font-size: 12px;
  font-weight: bolder;
  color: #a4a69c;
}
